body {
  font: normal 1em/1.15 'Fira Sans Extra Condensed', sans-serif;
  margin: 0;
  background: #221;
}

h1, h2, h3, h4 {
  font-family: 'Prosto One', sans-serif;
  color: #221;
  line-height: 1.2em;
  margin-top: 0;
}

.app {
  padding: 0;
}

.app .page-title {
  padding-left: 1vw;
  margin-top: 0;
}

.app footer {
  padding-left: 1vw;
  color: #dfd;
}

.app a {
  color: #dfd;
}